[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "urlexplorer"]
	path = urlexplorer
	url = https://github.com/marekprokop/urlexplorer
